.comp-cat {
  border: 2px solid grey;
  margin: 20px 0 0px 0px;
  width: 100%;
}

mat-form-field {
  width: 30%;
}

.mat-row:nth-child(even) {
  background-color: #f5f5f5;
}


.mat-row:nth-child(odd) {
  background-color: #e0e0e0;
}

.mat-header-cell {
  background-color: #0073c6;
  color: #f5f5f5;
  font-weight: bold;
}

.mat-form-field {
  width: 300px;
}
.btn-5 {
  border-radius: 2px;
  font-size: 1.1rem;
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
  cursor: pointer
}
