.ctnr-logo {
  color:#25282a
}

.ctnr-nav-control {
  width: 100%;
  background-color: #25282a;
  height: 30px;
}

.msg-error {
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 7px 20px 8px 11px;
  margin: 20px 0;
  width: 100%;
  border-radius: 3px;
  color: red;
}
.error{
  color: red;
}

.input-type-label {
  font-size: 17px;
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
  font-weight: bold;
}

.input-type {
  font-size: 2.2rem; 
  color: #3b8ede;
}

.btn-5 {
  color: white;
  background-color: #31aa3a;
  border-radius: 2px;
  font-size: 1.4rem;
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
  cursor: pointer
}
